torch==2.5.1
typer==0.15.1
fastapi==0.115.6
uvicorn==0.34.0
hydra-core==1.3.2
matplotlib==3.10.0
torchvision==0.20.1
kagglehub==0.3.10
python-multipart==0.0.20
loguru==0.7.3
torch-tb-profiler==0.4.3
wandb==0.19.2
omegaconf==2.3.0
scikit-learn==1.6.1
locust==2.32.6